body{
  background-color: teal;
}
h1{
  color: white;
}
.parent{
  margin-top: 10px;
  margin-bottom: 0;
  height: 0px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 0px 2px white;
}

.overlay{
  background-color: white;
  border-radius: 5px 0 0 5px;
  height: 600px;
}
.akan{
  font-size: 40px;
  padding-top: 20px;
  font-weight: bolder;
  font-family: system-ui;
}
.top-form{
  margin-top: 30px;
}
.labels{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 25px;
  color:white;
}
.p-text{
  margin: 30px 30px 30px 10px;
  color: teal;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-image:()
}
.genders{
  margin-left: 50px;
}
.btn{
  margin-left: 50px;
  margin-top: 20px;
  height: 45px;
  width: 200px;
  border-radius: 20px;
}
.q-text{
  color:yellow;
  font-size: 30px;
  font-weight: bold;
  margin: 80px 20px 20px 10px;
}
#result{
  margin-top: 30px;
  color: black;
  font-size: 28px;
  font-family: 'Khula', sans-serif;
}
.rounded-circle{
  margin-left: 40%;
}
